<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="../static/main.css"
    />

    {% if title %}
    <title>30天python - {{title}}</title>
    {% else %}
    <title>30天Python</title>
    {% endif %}
</head>
<body>
<header>
    <div class="menu-container">
        <div>
            <a class="brand-name nav-link" href="/">30天Python</a>
        </div>
        <ul class="nav-lists">
            <li class="nav-list">
                <a class="nav-link active" href="{{ url_for('home') }}">主页</a>
            </li>
            <li class="nav-list">
                <a class="nav-link active" href="{{ url_for('about') }}">关于</a>
            </li>
            <li class="nav-list">
                <a class="nav-link active" href="{{ url_for('post') }}">文章</a>
            </li>
        </ul>
    </div>
</header>
<main>
    {% block content %} {% endblock %}
</main>
</body>
</html>